@model SalesMvcWeb.Models.Department

@{
    ViewData["Title"] = "Consultar Departamentos";
}

<h2>Consultar Departamentos</h2>

<div>
    <h4>Departmento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Alterar</a> |
    <a asp-action="Index">Voltar</a>
</div>
